name: Build horus-runtime docs

on:
  push:
    branches: [main]
    tags: ["*"]

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          pip install -e .[docs]

      - name: Build API docs
        run: |
          make docs

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: horus-runtime-docs
          path: docs/
